@font-face {
    font-family: wow;
    src: url(./fonts/HeyWow-Book.woff2);
}

@font-face {
    font-family: wowsb;
    src: url(./fonts/HeyWow-SemiBold.woff2);
}

@font-face {
    font-family: wowb;
    src: url(./fonts/HeyWow-Bold.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: wow;
}

html,
body {
    height: 100%;
    width: 100%;
}

*::selection {
    background-color: #ec5212;

}

nav {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    position: fixed;
    padding: 15px 30px;
    border-radius: 50px;
    z-index: 99;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
}

nav .part2 {
    display: flex;
    gap: 40px;
    align-items: center;
}

nav a {
    font-family: wow;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #111;
}

nav button {
    padding: 13px 20px;
    border: none;
    background-color: #70a2e1;
    font-family: wow;
    color: #fff;
    font-size: 18px;
    border-radius: 50px;
}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: #fdfaf5;
    padding-top: 10%;
    gap: -150px;

}


#page1Bottom {
    display: flex;
    align-items: center;
    height: 25%;
    margin-top: vw;
    justify-content: space-between;
}

#page1Bottom div {
    width: 50%;

}

#page1Bottom h1 {
    padding: 2% 6%;
    font-size: 9.5vw;
    color: #333;
}

#page1Bottom div h3 {
    font-size: 2.2vw;
    margin-bottom: 0.5vw;
}

#page1Bottom div p {
    font-size: 1.1vw;
    opacity: 0.6;

}


#coding {
    height: 70%;
    background-color: rgb(230, 233, 243);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 50px;

}

.letter {
    margin-bottom: -50px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#lettee-c .flower {
    margin-left: 50px;

}

#letter-0 .flower {
    margin-left: 70px;
}

#letter-d .flower {
    margin-left: 53px;
}

#letter-n .flower {
    margin-bottom: -90px;
    margin-left: 148px;

}

#letter-i .flower {

    margin-left: 60px;

}

#letter-g .flower {
    margin-left: 53px;

}

.flower {
    gap: -140px;
    transform-origin: 50% 90%;
    /* background-color: red; */
}

.stem {
    /* background-color: red; */
    height: 35vh;
    overflow: hidden;
    margin-top: -40px;
}

.stem svg {
    /* overflow: hidden; */
    /* margin-top: -10%; */
    position: relative;
    margin-top: 20px;

}

.js-stem-path {
    margin-top: 10px;
    stroke: black;
    fill: none;
    stroke-width: 3.5px;
}


#page2 {
    height: 100vh;
    width: 100%;
    background-color: #fdfaf5;
    padding: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page2-part1 {
    height: 100%;
    width: 50%;
}

.page2-part1 .part1-top {
    height: 12vw;
    padding-top: 7vw;
    position: relative;
}

.page2-part1 .part1-top .blue {
    background-color: #3c61e5;
    height: 5vw;
}

.page2-part1 .part1-top .eye {
    background-color: #3658d4;
    position: absolute;
    height: 24vw;
    width: 24vw;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -13vw;
}

.page2-part1 .video-div {
    background-color: #ffd47e;
    position: relative;
    height: calc(100% - 12vw);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4vw;
}

.page2-part1 .video-div video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.page2-part2 {
    height: 100%;
    width: 50%;
    /* background-color: crimson; */
}

.page2-part2 .part2-top {
    background-color: #ffbbba;
    height: 12vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vw;
    border-top-left-radius: 100px;
}

.page2-part2 .part2-top h3 {
    font-size: 3.2vw;
    line-height: 1;
    color: #333;
}

.page2-part2 .part2-bottom {
    background-color: white;
    height: calc(100% - 12vw);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vw;
}

.page2-part2 .part2-bottom h4 {
    font-size: 2.8vw;
}

#page3 {
    height: 100vh;
    width: 100%;
    background-color: #333;
}